.add-post {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: $secondary;
  box-shadow: $box-shadow;
  border-radius: 5px;
  @include breakpoint($mobile-bp) {
    padding: 1.5rem;
  }
}

.add-post__form {
  display: flex;
  align-items: center;
}

.add-post__form-actions {
 flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  width: 1.2rem;
  @include breakpoint($mobile-bp) {
    width: 9rem;
  }
}

.add-post__textarea {
  width: 80%;
  height: 27px;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  border: none;
  background: transparent;
  resize: none;
  font-size: 1.5rem;
  color: $white;
  font-family: inherit;
  &::placeholder {
    color: #d2d2d2;
  }
}

.add-post__file,
.add-post__send {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .2s linear;
  @include breakpoint($mobile-bp) {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.add-post__file {
  background: #ebebeb url('../../images/icons/foto-app.svg') center no-repeat;
  input {
    display: none;
  }
  &:hover {
    background-color: darken (#ebebeb, 5%);
  }
  @include breakpoint($mobile-bp) {
    background-size: 15px;
  }
}

.add-post__send {
  margin-left: 1.5rem;
  font-size: 0;
  color: transparent;
  background-color: $blue;
  background: $blue url('../../images/icons/arrow-right.svg') center no-repeat;
  &:hover {
    background-color: darken(#ebebeb, 5%);
  }
}

