.profile {
  margin-top: -5rem;
  @include breakpoint($tablet-bp) {
    margin-top: 3.25rem;
    position: relative;
   
  }
}

.profile__avatar {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 2rem;
  border: 1px solid $secondary;
  border-radius: 50%;
  // box-shadow: 0 2px 8px rgb(121, 199, 250);
  @include breakpoint($tablet-bp) {
    width: 6.5rem;
    height: 6.5rem;
    margin-left: 0;
    position: absolute;
    left: 0;
  }
}

.profile__header {
  margin-bottom: 1rem;
  text-align: center;
  @include breakpoint($tablet-bp) {
    text-align-last: left;
    padding-left: 8rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-top: -65px;
    border-bottom: 1px solid #1c1c1c;
  }
}

.profile__name {
  font-family: sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

.profile__prof {
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #dedede;
  text-align: center;
}

.profile__text {
  padding: 3rem 0;
  margin: 3rem 0;
  font-size: 1.2rem;
  text-align: center;
 border-top: 1px solid #1c1c1c;
 border-bottom: 1px solid #1c1c1c;
 @include breakpoint($tablet-bp) {
  display: none;
}
}