<div class="modal" id="contact-modal">
  
  <div class="modal__content">
    <form class="form form--auth" action="/" method="post">
      <div class="form__group form__group--md">
        <input class="form__control" type="email" placeholder="Ваше имя:">
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <input class="form__control" type="email" placeholder="Ваш email:">
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <textarea class="form__control form__control--textarea" placeholder="текст сообщения"></textarea>
        <span class="form__line"></span>
      </div>
      <div class="form__footer">
        <div class="form__group form__group--md">
          <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
        </div> 
      </div>
    </form>
    <button class="modal__close" type="button">
      <img src="../assets/images/icons/close.svg" alt="закрыть">
    </button>
   <div class="modal__footer">
     <a href="mailto:freedom-75@mail.ru">freedom-75@mail.ru</a> |
      <a href="tel:+79269690922">+7 926-969-09-22</a> 
   </div>
  </div>
</div>